body{
    background-color: #e5c688;
}
h1{
    text-align: center;
    font-size: 50px;
}
.combine1{
    width: 40%;
    background-color: #88A7E5;
    border-radius: 12px;
    margin-left: 10%;
    padding: 20px;
}
#p1{
    font-size: 30px;
}
.combine1 input{
    width: 90%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 6px;
    border: 2px solid transparent;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}
input:hover, input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}
.combine1 button{
    width: 45%;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 6px;
    color: #fff;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(119,103,73);
    background: linear-gradient(90deg, rgba(119,103,73,1) 0%, rgba(229,198,136,1) 50%, rgba(186,142,53,1) 100%);
    border: none;
}
#button1:before, #button2::before{
    height: 0%;
    width: 2px;
}
#button1:hover, #button2:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}