/* CSS stands for Cascading Style Sheets */
/* CSS describes how HTML elements are to be displayed on screen, paper, or in other media */
body{
    background-color: grey;
}


/* h1{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font-family: "verdana";
} */


/* The id selector uses the id attribute of an HTML element to select a specific element. */
/* #para1{
    text-align: left;
    color: red;
    font-size: larger;
} */


/* The class selector selects HTML elements with a specific class attribute. */
/*we use . and class name */
/* .center{
    text-align: center;
} */


/* example of using css class, but for specified element */
/* p.right{
    text-align: right;
    font-size:large;
} */


/* If we want some elements to have similar styles we can group them: */
h1, p{
    text-align: right;
    font-style: italic;
    font-size: 35px;
    font-weight: 700;
    font-family: "Verdana";
}