#div1{
    display: flex;
    align-items: center;
    background-color: green;
}
#img1{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
h2{
    text-align: center;
}
#p1{
    margin-left: 600px;
}
#div2{
    width: 500px;
    height: 100px;
    background-color: brown;
    align-items: center;
}
#p2{
    margin-left: 300px;
}