@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #F0F2F5;
    font-family: "Roboto";
}
header {
    margin-top: 5%;
    margin-bottom: 2.5%;
    text-align: center;
    color: #0866FF;
    font-size: 30px;
}
main {
    width: 35%;
    height: 400px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow:  -11px 11px 17px #666666,
             11px -11px 17px #ffffff;
}
hr{
    border: 1px solid #DADDE1;
}
.text_div {
    text-align: center;
}
.form_div1 form {
    display: flex;
}
.form_div1 input{
    width: 46.5%;
}
#input1 {
    margin-right: 1.5%;
}
#input1,
#input3,
#input4, #p1, .form_div3, #p2, .form_div4 {
    margin-left: 1.5%;
}
#input2,
#input3,
#input4, .div4_1 {
    margin-right: 1.5%;
}
#input3,
#input4 {
    margin-top: 1.5%;
    width: 95.5%;
}
.form_div3{
    display: flex;
}
.form_div3 form {
    width: 30%;
    margin-right: 3.5%;
}
.form_div3 select,
.form_div3 input {
    width: 100%; 
}
.form_div4 form{
    display: flex;
}
.div4_1, .div4_2{
    width: 48%;
    border: 1px solid black; 
    border-radius: 4px; 
}
.form_div5 {
    text-align: center;
    margin-top: 7.5%;
}

#input7 {
    width: 40%;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
}