/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "font1";
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: font1;
    src: url(./assets/BruceForeverRegular-X3jd2.ttf);
}

:root {
    --gray-background: #333333;
    --white-background: #fff;
    --black-background: #000;
}

body {
    background-color: var(--black-background);
}

/* Main */
main {
    width: 90%;
    margin-left: 5%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/* Gray rectangles */
.rectangle {
    width: 7.5%;
    height: 45%;
    background-color: var(--gray-background);
}

/* Board */
#board {
    width: 30%;
    height: 50%;
}

.board-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-container > div {
    border: 3px solid var(--white-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container i {
    font-size: 7.5rem;
    cursor: pointer;
}
#div1, #div2, #div3{
    border-top: none;
}
#div3, #div6, #div9{
    border-right: none;
}
#div7, #div8, #div9{
    border-bottom: none;
}
#div1, #div4, #div7{
    border-left: none;
}



/* Info div */
.info-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-div p {
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: center;
}

.info-div span {
    font-size: 1.5rem;
}