.container{
    display: flex;
    align-items: center;
}

.image_div img{
    width: 15%;
    height: 15%;
}
div.cities{
    overflow: auto;
    width: 100%;
}
div.cities div{
    float: left;
    width: 33%;
}
div.london h2, p{
    margin-left: 20px;
}
div.oslo h2, p{
    margin-left: 20px;
}
div.rome h2, p{
    margin-left: 20px;
}
.london{
    background-color: green;
}
.rome{
    background-color: tomato;
}
.oslo{
    background-color: gray;
}
.Cities{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.box_model{
    padding: 50px;
    margin: 20px;
    width: 20%;
    background-color: gray;
    border: 15px green solid;
}