@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body{
    font-family: "Racing Sans One";
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}
#Main_Heading{
    font-size: 40px;
}
.Main_Text{
    font-weight: 200;
    font-size: 15px;
}
.Secondary_headings{
    font-size: 20px;
}
img{
    width: 500px;
    height: 350px;
    border: 3px solid gray;
}
hr{
    border: 1px solid gray;
}