@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla";
}
body{
    background-color: #E6EFF6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.container{
    overflow: hidden;
    height: max-content;
}
.main-div1{
    height: 50%;
    background-color: #FFFFFF;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
h1{
    font-size: 25px;
    color: #4EACA9;
    padding: 40px 0 40px 40px;
}
h2{
    font-size: 20px;
}
#h2-1{
    color: #CFE36A;
    padding: 0 0 40px 40px;
}
#p1{
    color: #C7CBCF;
    padding: 0 20px 40px 40px;
}
.main-div2{
    display: flex;
}
.part1{
    background-color: #2BB3B1;
    border-bottom-left-radius: 10px;
    width: 50%;
}
#h2-2{
    color: #B7FFFF;
    padding: 40px 0 20px 40px;
}
#p2{
    color: #376c6c;
    padding: 0 20px 20px 40px;
    display: flex;
    align-items: center;
}
#span1{
    font-size: 25px;
    color: #CEFBF9;
    padding-right: 10px;
}
#p3{
    padding: 0 20px 20px 40px;
    color: #ACEFEF;
}
#p4{
    width: 80%;
    margin: 20px 0 50px 10%;
    background-color: #BFDF32;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
#span2{
    color: #ffffff;
}

.part2{
    background-color: #4ABEBD;
    border-bottom-right-radius: 10px;
    width: 50%;
}
#h2-3{
    padding: 40px 0 40px 40px;
    color: #B7FFFF;
}
.p5{
    padding: 5px 0 0 40px;
    color: #376c6c;
}

@media (max-width: 600px){
    .main-div2{
        display: block;
    }
    .part1, .part2, .main-div1{
        width: 60%;
        margin-left: 20%;
        padding: 0;
        height: 50%;
    }
    #p4, .p5{
        transform: translateY(-20px);
    }
    .part1{
        border-bottom-left-radius: 0;
    }
    .part2{
        margin-top: -50px;
        border-bottom-left-radius: 10px;
    }
    h2{
        font-size: 16px;
    }
}