/* body{
    background-color: darkgreen;
    text-align: center;
}

h1{
    font-size: 40px;
    color: black;
    font-family: "sans-serif";
}
h2{
    color: red;
    background-color: black;
}
button{
    color: black;
    font-size: 40px;
} */

/* CSS code creates styling rules. The simplest styling rule consists of a selector, plus a declaration in curly braces {}. */
/* Each declaration should end with a semicolon */
/* property - კუთვნილების სახელი */