/* ul{
    list-style-type: georgian;
} */
body{
    background-color: #DAF7A6;
    margin-left: 100px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}
li{
    float: left;
}
li a{
    display: block;
    color: #FFC300;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    background-color: black;
}