@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #04202C;
}
p{
    color: #C9D1C8;
}
h2, h1{
    color: #F58023;
}
h3{
    color: #5B7065;
}
h1, h2, h3{
    font-family: "Roboto";
}
p, a{
    font-family: "Poppins";
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}
li{
    float: left;
}
li a{
    display: block;
    color: #F8F1E5;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}
li a:hover{
    background-color: gray;
}
#div1{
    display: flex;
    align-items: center;
}
#img1{
    width: 400px;
    height: 300px;
    margin-left: 20px;
}

#div2{
    display: flex;
    align-items: center;
}
#img2{
    width: 400px;
    height: 300px;
    margin-left: 200px;
}

#div3{
    display: flex;
    align-items: center;
}
#img3{
    width: 400px;
    height: 300px;
    margin-left: 15px;
}

#div4{
    text-align: center;
}
#img4{
    width: 600px;
    height: 400px;
}
#img5{
    width: 600px;
    height: 400px;
}
#img6{
    width: 100px;
    height: 100px;
    margin-left: 200px;
}
hr{
    border: 1px solid #5B7065;
}
h1{
    margin-left: 100px;
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: 700;
    margin-left: 100px;
}
h3{
    font-size: 25px;
    font-weight: 500;
}
p{
    font-size: 20px;
    font-weight: 300;
}
ul{
    margin-left: 800px;
    font-size: 20px;
}

h2, h3{
    margin-left: 200px;
}
img{
    border: 3px #5B7065 solid;
}
#p1{
    margin-left: 200px;
}
#p2{
    margin-left: 200px;
}
#p3{
    margin-left: 15px;
}
#p4{
    margin-left: 200px;
}
#p5{
    margin-left: 200px;
}
#p6{
    margin-left: 200px;
}
#div4{
    margin-left: 100px;
}