/* #table1{
    font-family: "sans-serif";
    border-collapse: collapse;
    width: 50%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
} */

/* table, th, td{
    width: 75%;
    border: 2px solid gray;
    text-align: left;
    To avoid having double borders like in the example above, set the CSS border-collapse property to collapse.
    border-collapse: collapse;
    background-color: rgb(115, 94, 14);
    border-style: solid;
    border-color: rgb(10, 195, 22);
} */

/* table, th, td{
    width: 50%;
    border: 5px double black;
    border-collapse: collapse;
    text-align: center;
}
#tr1{
    height: 200px;
} */

/* table, td, th{
    border: 2px solid tomato;
    border-collapse: collapse;
    width: 25%;
    padding: 8px;
    text-align: right;
} */
/* 
table, td, th{
    border: 2px solid goldenrod;
    border-collapse: collapse;
    width: 50%;
}
th, td{
    padding-top: 12px;
    padding-right: 5px;
    padding-bottom: 33px;
    padding-left: 22px;
} */

/* table, td, th{
    border: 1px solid green;
    width: 60%;
}
tr:nth-child(even) {
    background-color: green;
}
tr:hover {background-color: blue;} */

#p1{
    margin-right: 100px;
    margin-left: 200px;
    border: 2px dotted greenyellow;
}
#img1{
    margin-left: 400px;
    margin-right: 50px;
    margin-top: 40px;
}