.products-div {
  width: 80%;
  margin-left: 10%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.products-div > div {
  background-color: #7ee3c3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px
      0px inset;
}

.products-div > div h3,
.products-div > div p {
  padding: 20px;
  font-weight: bold;
}

.products-div > div span {
  text-decoration: line-through;
  text-decoration-color: #fff;
  text-decoration-style: solid;
}

.products-div > div img {
  max-width: 50%;
  border-radius: 10px;
  cursor: pointer;
}